/* body,html{width:100%;height:100%;padding:0;margin:0;} */

#contenedor_listas {
    border-left: solid 1px;
    border-right: solid 1px;
    border-color: #e4e4e4;
}

#contenedor_elementos_inventario {
    border: solid 1px;
    border-color: #00000070;
    position: relative;
}

#contenedor_filtros_lista_problemas {
    padding-top:10px;
    padding-bottom:10px;
    padding-right: 4px;
    display:flex;
    justify-content:flex-end;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

#jsGridInventario{
    position: absolute !important;
    height: auto !important;
    width: auto !important;
}

#parent {
    display: -webkit-box;
    height: 100%;
    width: 100%;
}

#LeftCol {
    flex-grow: 1;
    resize: horizontal;
    overflow: auto;
    min-width: 200px;
}

#RightCol {
    flex-grow: 3;
    border-left: 1px solid black;
}


.list-group-item.node-treeview {
    border:none !important;
}

.stilo_resize_lista, .clearfix {
    /* overflow: hidden; */
    overflow: auto;
    resize: vertical;
    border-bottom:1px solid #00000070;
    border-left:1px solid #00000070;
    border-right:1px solid #00000070;
    min-height: 10px;
    max-width:100%;
}

#contenedor_elementos_inspeccion{
    padding: 0px;
}
/* .jsgrid-grid-body {
    overflow-x: auto;
    overflow-y: hidden !important;
    -webkit-overflow-scrolling: touch;
} */

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #207cf1 !important;
}

a {
    color: #111111;
}

.jsgrid-cell {
    border: none !important;
    padding: 0.04rem !important;
}

.treeview{
    min-width: max-content !important;
}